---
title: Welcome to Middleman
---


<div class="container-fluid">
  <div class="row">
    <img id="title-image" class="img-responsive" src="http://placehold.it/1000x400" alt="Title Image">  
  </div>  
</div>
